<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Perfil</th>
            <th>Nome</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
         <% @users.each do |user| %>
            <tr>
                <td>
                    <img src="<%= user.profile_image_url %>" alt="<%= user.name %> Avatar" class="rounded-circle" width="40">
                </td>    
                <td><%= user.name %></td>
                <td>
                    <%= link_to(profile_user_path(user), target: "_blank") do %>
                        <i class="fa fa-user fa-2x"></i>
                    <% end %>
                    <%= link_to(edit_user_path(user)) do %>
                        <i class="fa fa-edit fa-2x"></i>
                    <% end %>
                    <%#= link_to 'Delete', user_path(user), method: :delete %>
                    <%#= link_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'user' do %>
                        <!--<i class="fa fa-trash fa-2x"></i>!-->
                    <%# end %>
                </td>
            </tr>
        <% end %>    
    </tbody>
</table>
<%# <div class="clearfix">
    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
    <ul class="pagination">
        <li class="page-item disabled"><a href="#">Previous</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item active"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
    </ul>
</div> %>
